.MuiTableRow-root td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .MuiTableRow-root td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .MuiTableRow-root td {
    padding:1rem;
  }